<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Jinya Matomo Tracking</title>
        <input-field>
            <name>matomoserver</name>
            <label lang="de-DE">Matomo Server</label>
            <label lang="en-GB">Matomo Server</label>
            <helpText lang="de-DE">Der Server auf dem deine Matomoinsatz läuft</helpText>
            <helpText lang="en-GB">The server that is running your matomo instance</helpText>
            <required>true</required>
        </input-field>
        <input-field>
            <name>phpTrackingPath</name>
            <label lang="de-DE">Relativer Pfad zur matomo.php</label>
            <label lang="en-GB">Relative path to matomo.php</label>
            <required>true</required>
            <defaultValue>matomo.php</defaultValue>
        </input-field>
        <input-field>
            <name>jsTrackingPath</name>
            <label lang="de-DE">Relativer Pfad zur matomo.js</label>
            <label lang="en-GB">Relative path to matomo.js</label>
            <required>true</required>
            <defaultValue>matomo.js</defaultValue>
        </input-field>
        <input-field>
            <name>matomosite</name>
            <label lang="de-DE">Matomo Site-ID</label>
            <label lang="en-GB">Matomo Site-ID</label>
            <helpText lang="de-DE">Die ID deiner Matomosite</helpText>
            <helpText lang="en-GB">The ID of your matomo site</helpText>
            <required>true</required>
        </input-field>

        <input-field type="single-select">
            <name>cookieStatus</name>
            <defaultValue>acceptCookie</defaultValue>
            <options>
                <option>
                    <id>acceptCookie</id>
                    <name>Always use cookies</name>
                    <name lang="de-DE">Benutze immer Cookies</name>
                </option>
                <option>
                    <id>noCookie</id>
                    <name>Track without cookies</name>
                    <name lang="de-DE">Tracke ohne Cookies</name>
                </option>
            </options>
            <label>Cookies</label>
        </input-field>
    </card>
</config>
